<footer class="footer text-center"><hr>
      <div class="container">
        <div class="row col-md-12" >
          <a href="https://github.com/jpjardim" target="_blank"><img src="github-logo.png" alt="github link"></a>
          <a href="https://linkedin.com/in/jardimpaulo" target="_blank"><img src="linkedin.png" alt="linkedin link"></a>
        </div>
    </div>
</footer>
