{{!navigation bar componenet}}
<nav>
  <ul>
    {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
    {{#link-to 'allUsers' tagName="li"}}<a href="">All Users</a>{{/link-to}}
  </ul>
</nav>
