
{{! list of all users available}}
<h2>List of users</h2>

{{!iterate through list of users created}}
{{#each model as |users|}}
  {{#link-to 'profile' users.id}}
  <a href=""> {{users.fname}} {{users.lname}}</a>
  {{/link-to}}<br/>

{{/each}}
