<div class="jumbotron text-center">
  <h1>User management App</h1>

  <br/><br/>

  <p>This is my first EmberJS application, it is simple and made as part of my studies of Web Development</p>
  <p>There is absolutely nothing fancy about it! You can add, delete and edit users details</p>
  <p>This details are saved on a Firebase database</p><br/>
  {{#link-to 'allUsers'}}<a class="btn btn-success btn-lg" href="">See all users</a>{{/link-to}}
  <br/><br/>
</div>
